/* common */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug{
height: 500px;
}
/* fine common */

 /* header */
header{
    background-color: blue;
}

/* jumbotron */
#jumbotron{
    background-color: aqua;
}


/* main  */
main{
    background-color: yellow;
}


/* footer  */
footer{
    background-color: grey;
}

