/* common */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug{
height: 500px;
}

.container{
    width: 80%;
    margin: auto;
    height: 100%;
    border: 2px solid black;
    max-width: 1180px;
}
/* fine common */

 /* header */
header{
    background-color: blue;
}

header .row{
height: 100px;
background-color: pink;
width: 80%;
margin: auto;
border: 2px solid black;
max-width: 1180px;
}

/* jumbotron */
#jumbotron{
    background-color: aqua;
}


/* main  */
main{
    background-color: yellow;
}


/* footer  */
footer{
    background-color: grey;
}

