/* common */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

li{
    list-style: none;
}

/* MODIFIERS */
.vertical-mid{
    vertical-align: middle;
}

.bg-light-green{
    background-color: #ACD2A0;
}


.bg-light-blue{
    background-color: #4091C9;
}

.bg-dark-blue{
    background-color: #13237C;
}

.bg-light-red{
    background-color: #EA3B2F;
}

.bg-dark-red{
    background-color: #C3292B;
}

.bg-brownish{
    background-color: #59132B;
}

.bg-graysh{
    background-color: #B9CFE5;
}

.bg-yellow{
    background-color: #F9D956;
}

.bg-almost-white{
    background-color: #F3F3F3;
}

.bg-purple{
    background-color: #8EA0E1;
}


.bg-white{
    background-color: #fff;
}

.color-lightblue{
    color: #0160FF;
}

.color-purple{
    color: #8EA0E1;
}


.color-brownish{
    color: #59132B;
}

.color-gray{
 color:  rgb(184, 182, 182);
}



.black{
    color: black;
}

.white{
    color: white;
}

.opacity-50{
    opacity: 50%;
}


.inline-block{
    display: inline-block;
}

.none{
    display: none;
}

.hover-faq:hover .show{
    display: block;
}

.mrgbottom10px{
    margin-bottom: 10px;
}


.mrgbottom20px{
    margin-bottom: 20px;
}

.mrgbottom30px{
    margin-bottom: 30px;
}

.mrgbottom40px{
    margin-bottom: 40px;
}

.mrgbottom60px{
    margin-bottom: 60px;
}


.mrgbottom150px{
    margin-bottom: 150px;
}

.mrgbottom130px{
    margin-bottom: 130px;
}


.mrgtop60px{
    margin-top: 60px;
}
.mrgtop40px{
    margin-top: 40px;
}
.mrgtop20px{
    margin-top: 20px;
}

.mrg-left-15xc{
    margin-left: 15%;
}

.mrg-auto{
    margin: auto;
}

.padding-vert-100{
    padding-top: 100px;
    padding-bottom: 100px;
} 


.padding-vert-60{
    padding-top: 60px;
    padding-bottom: 60px;
} 


.padding-vert-40{
    padding-top: 40px;
    padding-bottom: 40px;
} 


.padding-vert-30{
    padding-top: 30px;
    padding-bottom: 30px;
} 


.padding-vert-20{
    padding-top: 20px;
    padding-bottom: 20px;
} 

.padding-vert-10{
    padding-top: 10px;
    padding-bottom: 10px;
}


.padding-side-20{
    padding-left: 20px;
    padding-right: 20px;
}

.padding-side-30{
    padding-left: 30px;
    padding-right: 30px;
}

.padding-side-40{
    padding-left: 40px;
    padding-right: 40px;
}
.padding-side-60{
    padding-left: 60px;
    padding-right: 60px;
}

.padding-side-130{
    padding-left: 130px;
    padding-right: 130px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-top-25{
    padding-top: 25px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-top-100{
    padding-top: 100px;
}

.padding-top-40{
    padding-top: 40px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-right-10{
    padding-right: 10px;
}


.padding-bottom-60{
    padding-bottom: 60px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.display-block{
    display: block;
}



.border-visible{
    border: solid 1px rgb(184, 182, 182);
}

.border-visible-up-down{
    border-top: solid 1px rgb(184, 182, 182);
    border-bottom: solid 1px rgb(184, 182, 182);

}

.border-visible-up{
    border-top: solid 1px rgb(184, 182, 182);

}

.border-visible-down{
    border-bottom: solid 1px rgb(184, 182, 182);

}

.border-visible-down-purple{
    border-bottom: solid 1px #8EA0E1;

}

.border-visible-purple{
    border: solid 1px #8EA0E1;

}


.border-visible-up-purple{
    border-top: solid 1px #8EA0E1;

}



.border-visible-gray{
    border: solid 1px rgb(184, 182, 182);
}

.border-visible-gray-bottom{
    border-bottom: solid 1px rgb(184, 182, 182);
}

.thick-border{
    border:  10px solid #D5E8CF;
}

.w15vw{
width: 15vw;
}

.h15vw{
height: 15vw;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: relative;
}

.transform{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.text-center{
    text-align: center;
}

.width-80xc{
    width: 80%;
}


.width-70xc{
    width: 70%;
}

.width-60xc{
    width: 60%;
}


.width-50xc{
    width: 50%;
}

.width-20xc{
    width: 20%;
}

.width-25xc{
    width: 25%;
}

.width-10xc{
    width: 10%;
}

.height-50{
    height: 50px;
}

.fontsize-10px{
    font-size: 10px;
}

.fontsize-12px{
    font-size: 12px;
}

.fontsize-20px{
    font-size: 20px;
}

.fontsize-25px{
    font-size: 25px;
}



.fontsize-16px{
    font-size: 16px;
}

.fontsize-14px{
    font-size: 14px;
}



.fontsize-30px{
    font-size: 30px;
}

.fontsize-35px{
    font-size: 35px;
}



.line-height-0{
    line-height: 0;
}

.line-height-20{
    line-height: 20px;
}

.line-height-25{
    line-height: 25px;
}

.line-height-27{
    line-height: 27px;
}


.line-height-200{
    line-height: 200px;
}



.bold-600{
    font-weight: 600;
}

.bold-400{
    font-weight: 400;
}

.bold-400.white{
    font-weight: 400;
}



.float-right{
float: right;
}

.float-left{
    float: left;
}

.contain{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.underline{
    text-decoration: underline;
}

.pointer{
    cursor: pointer;
}

/* FINE MODIFIERS */



h2{
    font-size: 35px;
    text-align: left;
}

a{
 text-decoration: none;
}

.arrow{
margin-right: 10px;
}

.btn{
padding: 8px 16px;
border-radius: 40px;
    }
    
    .btn-white{
        background-color: #fff;
        color: #000;
    }
    
    .btn-black{
        background-color: #000;
        color: #fff;
    }


    .btn-login{
        font-size: 10px;
        padding: 8px 12px;
 
    }

    .btn-login.btn-white.btn{
        width: 10%;
    }
    
    .btn-big{
        font-size: 15px;
        padding: 12px 24px;
    }



/* fine common */

 /* header */
header{
background-color: #3161E0;
height: 60px;
line-height: 60px;
}

header .row{
background-color: #3161E0;
width: 80%;
margin: auto;
max-width: 1180px;
height: 60px;
}

header .row::after{
    display: table;
    content: "";
    clear: both;
}

#logo{
    display: inline-block;
    float: left;
    width: 15%;
    vertical-align: middle;
}

#logo img{
    vertical-align: middle;
}

/* nav */
header nav{
    display: inline-block;
    float: left;
    width: 70%;
    text-align: center;
}

header nav li a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
}

header nav li:hover{
 border-bottom: 2px solid white;
}


nav li {
    display: inline-block;
}


.dx{
    float: right;
    width: 10%;
    text-align: right;

}

#accedi:hover{
background-color: black;
color: white;

}

/* jumbotron */
.jumbotron{
    background-image: url(img_5/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    width: 100%;
    margin: auto;
}

.jumbotron-container{
    max-width: 700px;
    color: white;
    margin: auto;
    height: 100%;
    width: 80%;

}

.jumbotron-container h1{
text-align: center;
font-size: 40px;
padding-top: 80px;
color: #fff;
}

.jumbotron-container p{
text-align: center;    
margin-top: 30px;
margin-bottom: 20px;
line-height: 25px;
color: #fff;
}

.jumbotron .btn-container{
text-align: center;
margin-bottom: 20px;
padding-top: 20px;

}

.jumbotron .btn-container div{
    display: inline-block;
    margin-right: 20px;
}


.jumbotron .btn-container .btn-big a{
text-decoration: none;
}

.jumbotron .container .btn-container .btn-big .white{
color: black;
}

#freccia{
    height: 10px;
}

.jumbo-btn-1:hover{
background-color: #9d8ee1;
color: white;
}

.jumbo-btn-2:hover{
    background-color: #9d8ee1;
    color: white;
    }
    

/* MAIN  */

main{
}

main section{
min-height: 400px;
}



.container{
    margin: auto;
    height: 100%;
    width: 80%;
}

.container-element{
    width: 50%;
    height: 100%;
    float: left;
}


main p{
    margin-top: 20px;
    line-height: 140%;
}



.immagine{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mac-download:hover{
background-color: black;
color: white;
}

/* WHITE SECTION  */

.white-section{
    background-color: white;
}

/* GRAY SECTION */

.gray-section{
    background-color: #E5E5E5;
}

/* BOTTOM SECTION  */
.bottom-section{
    background-color: #E5E5E5;
}

.bottom-container{
    margin: auto;
    width: 90%;
    max-width: 1180px;
}

.bottom-text-box{
    height: 20%;
}

.bottom-img-box{
    height: 60%;
    text-align: center;

}

.bottom-immagine{
    object-fit: contain;
}

.bottom-text-box h2{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    height: 20%;
    }
    
.bottom-text-box p{
text-align: center;
margin: auto;
}

.stars{
background-image: url(./img_5/stars.svg);
background-position: center;
background-size: contain;
position: relative;
 }

 .avventura{
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%, 0);
 }




footer{
    background-color: #23272A;
}

.footer-container{
    width: 70%;
    height: 100%;
    margin:  auto;
}

.footer-box{
    float: left;
}

.sxfooter{
    width: 30%;
}

.dxfooter{
    width: 70%;
}

.hover-undline:hover{
    text-decoration: underline;
}

.flag{
    height: 12px;
    width: 17.6px;
}


.flag-show:hover .flag-noshow{
    display: block;
}

.flag-show:hover .flag-noshow{
    display: block;
}

#language-text-special:hover{
    text-decoration: underline;
}


.language-text:hover{
    text-decoration: underline;
}


.flag-noshow{
    display: none;
}



.fa-chevron-down:before{
    font-size: 10px;
vertical-align: middle;
}

#negative{
    margin-top: -7px;
}


.bottom-nav{
margin: auto;
}
    
.bottom-nav-row{
width: 70%;
margin: auto;
max-width: 1180px;
height: 60px;
}

.registrati:hover{
    color: white;
    background-color: black;
}
